
.TodoItem:hover{
    cursor: pointer;
}
.TodoItem {
  position: relative;
  display: flex;
  justify-content: space-around;
  align-items: center;
  box-shadow: 0px 5px 50px rgba(32, 35, 41, 0.15);
  margin: 20px 0;
  padding: 15px;
  border: solid 1px #4D76AB;
  border-radius: 10px;
}
 
.TodoItem-p {
  width: calc(100% - 120px);
  font-size: 14px;
  line-height: 24px;
  font-weight: 400;
}
.TodoItem-p--complete {
  text-decoration: line-through;
}

.Icon {
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 48px;
  width: 48px;
  font-size: 24px;
  font-weight: bold;
  /* background-color: #CCC; */
}

.Icon-check {
  position: absolute;
  left: 12px;
}
.Icon-check:hover{
  
  animation: myAnimIconCheck 2s ease 0s infinite alternate both;
}
.Icon-check--active {
  color: #4caf50;
}

.Icon-delete {
  position: absolute;
  right: 0;
}
.Icon-delete:hover {
  color: rgb(253, 68, 68);
  animation: myAnimIconDelete 2s ease 0s infinite normal both;
}

@keyframes myAnimIconCheck {
	0%,
	100% {
		transform: translateX(0%);
		transform-origin: 50% 50%;
	}

	15% {
		transform: translateY(-7px) rotate(-4deg);
	}

	45% {
		transform: translateY(-5px) rotate(-3.6deg);
	}

	75% {
		transform: translateY(-3px) rotate(-1.2deg);
	}
}

@keyframes myAnimIconDelete {
	0%,
	100% {
		transform: translateX(0%);
		transform-origin: 50% 50%;
	}

	15% {
		transform:  rotate(90deg);
	}

	45% {
		transform:  rotate(-90.6deg);
	}

	75% {
		transform:  rotate(-30deg);
	}
}