.LoadingSkeleton{
    position: relative;
  display: flex;
  justify-content: space-around;
  align-items: center;
  box-shadow: 0px 5px 50px rgba(32, 35, 41, 0.15);
  margin: 20px 0;
  padding: 15px;
  border: solid 1px #4D76AB;
  border-radius: 10px;

  animation: myAnim 2s ease 0s infinite normal forwards;
}

@keyframes myAnim {
	0% {
		opacity: .5;
	}

	50% {
		opacity: 0.2;
	}

	100% {
		opacity: .5;
	}
}