.CreatetodoButton{
    width: 40px;
    height: 40px;
    border-radius: 50%;
    border: none;
    color: white;
    background-color: #6499DE;

    position: fixed;
    transform: rotate(0);
    transition: .3s ease;
    z-index: 1;
}
.CreatetodoButton:hover{
    cursor: pointer;
    transform: rotate(230deg);
    background-color: #62C8F5;
}


